<div class="signin-content">
  <div>
    <mat-toolbar class="d-resp-none nvbr-cstm height d-flex justify-content-between bg-trans align-items-center">
      <!-- <span class="logowrap">
        <a routerLink="/welcome" routerLinkActive="active">
          <img src="assets/img/throqLogo2.svg" alt="" class="logo">
        </a>
      </span> -->
      <span class="fill-remaining-space"></span>
      <button id="enquiry-btn" mat-button (click) ="enquiry()"><i class="fas fa-user-circle theme-color pr-2"></i><span class="white">Explore Us</span></button>
    </mat-toolbar>
  </div>
  <mat-card class="box">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3><i class="fas fa-user-lock login-title-icon login-black"></i> <span class="login-black b">{{'LOGIN' | translate}}</span></h3>
        <hr>
        <mat-form-field class="full-width-input" appearance="legacy">
          <mat-label>
            <i class="fas fa-user login-icon"></i>
           <span class="login-user">{{'USER_NAME' | translate}}</span>
          </mat-label>
          <input id="login-username" matInput placeholder="{{'ENTER_USER_NAME' | translate}}" formControlName="username" required >
          <mat-error *ngIf="isFieldInvalid('username')">
            {{'PLEASE_ENTER_USER_NAME' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>
            <i class="fas fa-unlock login-icon"></i>
           <span class="login-user">{{'PASSWORD' | translate}}</span>
          
          </mat-label>
          <input id="login-password" matInput  [type]="isVisible ? 'text' : 'password'" placeholder="{{'ENTER_PASSWORD' | translate}}" formControlName="password" required>
         <span class="eye-icon position-absolute right-0 top-12" *ngIf="!isVisible"><i class="fas  fa-eye login-icon"(click)="togglePassword()"></i></span>
         <span class="eye-icon position-absolute right-0 top-12" *ngIf="isVisible"><i class="fas  fa-eye-slash"(click)="togglePassword()"></i></span>
          <mat-error *ngIf="isFieldInvalid('password')">
            {{'PLEASE_ENTER_PASSWORD' | translate}}
          </mat-error>
        </mat-form-field>
        <div class="d-flex mb-3">
          <label class="reset-password" style="margin: auto;" appDebounceClick (debounceClick)="getUserDataByName()" [debounceTime]="300">{{'FORGET_PASSWORD' | translate}}?</label>
        </div>
        <button id="login-btn" mat-raised-button [disabled]="!loginForm.valid"  type="submit" class="login-black light-grey-bg login-button-bg2 white">{{'LOGIN' | translate}}</button>

        <br>
        <br>
        <!-- <button mat-raised-button type="submit" class="login-button-bg2" color="primary" (click)="signUp()">Don't have account? Create one here</button> -->
        <div id="login-fail" *ngIf="!!isIncorrectCredentials" class="text-danger d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'INCORRECT_USERNAME_OR_PASSWORD' | translate}}</div>
        <div id="login-success" *ngIf="!!isSuccessMsg" class="text-success d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'LOGIN_SUCESSFULLY' | translate}}</div>
        <div id="login-error" *ngIf="!!isErrorMsg" class="text-danger d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'INTERNEL_SERVER_ERROR' | translate}}</div>
        <div id="login-fail" *ngIf="!!userDeactivated" class="text-danger d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'USER_DEACTIVATED_PLEASE_CONTACT_YOUR_ADMIN' | translate}}</div>
        <div id="login-fail" *ngIf="!!planExpired" class="text-danger d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'YOUR_PLAN_WAS_EXPIRED_PLEASE_CONTACT_YOUR_ADMIN' | translate}}</div>
        <div id="No-Internet" *ngIf="!!isInternetConnection" class="text-danger d-flex text-center my-2 mx-auto w-100 justify-content-center">{{'NO_INTERNET' | translate}}</div>
      </form>
    </mat-card-content>
  </mat-card>
</div>